
body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
  background-image: url('bgr.jpg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}  
.jumbotron {
  background-color: #2f8855;
  color: #fff;
  padding: 100px 25px;
  font-size: 170px;
  font-family: Montserrat, sans-serif;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #67a482;
  font-size: 50px;
}
.logo {
  color: #2f8855;
  font-size: 200px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: auto;
  max-height: 300px;
  margin-bottom: 10px;
  object-fit: cover;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #2e8955;
}
.carousel-indicators li {
  border-color: #2e8955;
}
.carousel-indicators li.active {
  background-color: #2e8955;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel {
  border: 1px solid #2e8955; 
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
  border: 1px solid #2e8955;
  background-color: #fff !important;
  color: #2e8955;
}
.panel-heading {
  color: #fff !important;
  background-color: #2e8955 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #2e8955;
  color: #fff;
}
.navbar {
  margin-bottom: 0;
  background-color: #2f8855;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #2e8955 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #2e8955;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

.jumbotron2 {
    background-color: #2e8955;
    color: #fff;
    padding: 70px 25px;
    font-size: 50px;
    font-family: Montserrat, sans-serif;
  }

  .jumbotron2 p {
    background-color: #2e8955;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
  }

  .jumbotron3 {
    background-color: #2e8955;
    color: #fff;
    padding: 70px 25px;
    font-size: 50px;
    font-family: Montserrat, sans-serif;
  }

  .jumbotron3 p {
    background-color: #2e8955;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
  }

  #nameLabel {
    font-weight: bold; /* Membuat label lebih tebal */
    margin-top: 30px;
  }


  /* FOOTER */
  footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #2e8955;/* warna latar belakang footer */
    color: white; /* warna teks footer */
    padding: 20px 0; /* ruang di sekitar teks footer */
    margin-top: 20px; /* Jarak atas dari paragraf terakhir */
  }
  
  footer p {
    margin-bottom: 0; /* menghapus margin bawah pada paragraf dalam footer */
    color: #ccc; /* warna font pada teks paragraf dalam footer */
  }
  
  footer .py-3 {
    padding-top: 1rem; /* tambahkan ruang atas pada div dengan kelas py-3 */
    padding-bottom: 1rem; /* tambahkan ruang bawah pada div dengan kelas py-3 */
  }

  .contact-info {
    margin-top: 50px; /* Tambahkan jarak ini */
  }

  /* Gaya tombol */
.btn-default {
  background-color: #639660; /* Warna latar belakang tombol */
  color: white; /* Warna teks tombol */
  border: none; /* Menghilangkan border */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; /* Menambahkan kursor pointer */
}

.btn-default:hover {
  background-color: #3a7941; /* Warna tombol saat hover */
  color: #fff; /* Warna teks saat hover */
}
